body {
	margin:0;
}

#header {
	border: 1px solid red;	
}

.header-content {
	border: 1px solid green;
	max-width: 1000px;
	margin: auto;
}

nav {
	border: 1px solid orange;	
}

li {
    list-style-type: none; /* Убираем маркеры */
	border: 1px solid blue;
}

nav ul {
	display: flex;
	flex-direction: row;  /*выровнять в строку / nur bei "flex"*/
	justify-content: right; /*выровнить по правому краю*/
}

nav a {
	color: white;
	font-weight: bold;
	text-decoration: ;
}
